.container p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 auto;
    padding: 10px;
    font: 13px/1.5 sans-serif;
    font-size: 150%;
    text-align: justify;
}

    .container p a {
        text-decoration: none;
        color: #0645AD;
        outline: none;
        white-space: nowrap;
        unicode-bidi: embed;
    }

        .container p a:hover {
            text-decoration: underline;
        }

    .container p.welcome {
        text-align: right;
        font-weight: bold;
    }

.links div {
    display: inline-block;
    width: 260px;
    margin-right: 10px;
    text-align: center;
}

footer {
    width: 70%;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    font: 13px/1.5 sans-serif;
    text-align: center;
}

    footer p a {
        padding-right: 20px;
    }
